.list {
  background-color: hsl(var(--background));
  border: 1px solid hsl(var(--border));
  border-radius: var(--radius);
  padding: var(--16px);
  margin: var(--16px) 0;
  font-family: var(--font-mono);
  list-style-position: outside;
  padding-left: 2rem;
}

.list p {
  margin: 0;
  padding: 0;
}

.list > .listItem {
  list-style-type: disc;
  margin-bottom: 0.5rem;
}

.list > .listItem::marker {
  color: hsl(var(--muted-foreground));
}

.inlineCode {
  font-family: var(--font-mono);
  background-color: hsl(var(--muted));
  padding: 0.1rem 0.3rem;
  border-radius: var(--4px);
  font-size: 0.875rem;
}
